
body{
    font-family: 'Playfair Display', serif;
     font-family: 'Quicksand', sans-serif;
    background-image: url('images/form-pic.jpg') ;
    background-size: cover;
    background-position: no-repeat;
    width: auto;
    height: auto;
}


